In [1]:
import os
import sys
import pandas as pd

root_dir = "/Users/mac/Desktop/Study/Diploma"
data_dir = os.path.join(root_dir, "data", "countries")
sys.path.append(root_dir)

from py_scripts.process_countries import prepare_table

In [2]:
WITS_path = os.path.join(data_dir, "WITS_codes.xlsx")
RUS_path = os.path.join(data_dir, "rus_countries.csv")
table = prepare_table(WITS_path, RUS_path)

In [5]:
table

            country_name RUS_ISO2 RUS_ISO3  code               country ISO3
0             АБХАЗИЯ[2]       AB      ABH   895                   NaN  NaN
1              АВСТРАЛИЯ       AU      AUS    36             Australia  AUS
2                АВСТРИЯ       AT      AUT    40               Austria  AUT
3            АЗЕРБАЙДЖАН       AZ      AZE    31            Azerbaijan  AZE
4                АЛБАНИЯ       AL      ALB     8               Albania  ALB
..                   ...      ...      ...   ...                   ...  ...
250          ЮЖНЫЙ СУДАН       SS      SSD   728                   NaN  NaN
251               ЯМАЙКА       JM      JAM   388               Jamaica  JAM
252               ЯПОНИЯ       JP      JPN   392                 Japan  JPN
253      АНТИЛЬСКИЕ О-ВА       AN      ANT   530  Netherlands Antilles  ANT
254  СЕРБИЯ И ЧЕРНОГОРИЯ       CS      SER   891            Yugoslavia  SER

[255 rows x 6 columns]

In [38]:
WITS_path = os.path.join(countries_dir, "WITS_codes.xlsx")
RUS_url = "https://ru.wikipedia.org/wiki/%D0%9E%D0%B1%D1%89%D0%B5%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%B8%D1%84%D0%B8%D0%BA%D0%B0%D1%82%D0%BE%D1%80_%D1%81%D1%82%D1%80%D0%B0%D0%BD_%D0%BC%D0%B8%D1%80%D0%B0"

WITS = pd.read_excel(WITS_path)
RUS_ISO = pd.read_html(RUS_url)[0]

RUS_ISO.columns = ["country", "full_name", "RUS_ISO2", "RUS_ISO3", "code"]

# Заменим Судан! 
RUS_ISO.loc[RUS_ISO["RUS_ISO2"] == 'SD', 'code'] = 736

# Добавим две страны, которых не было в списке
RUS_ISO = pd.concat([
    RUS_ISO, 
    pd.DataFrame(zip(
        ['АНТИЛЬСКИЕ О-ВА', 'СЕРБИЯ И ЧЕРНОГОРИЯ'],
        ['АНТИЛЬСКИЕ О-ВА', 'СЕРБИЯ И ЧЕРНОГОРИЯ'],
        ['AN', 'CS'],
        ["ANT", "SER"],
        [530, 891]
    ),
    columns=RUS_ISO.columns)
]).reset_index().drop(columns='index')

table = RUS_ISO.merge(WITS, on="code", how="left")

In [40]:
table.loc[table.country_x.isnull()].sort_values(by="country_y")

Empty DataFrame
Columns: [country_x, full_name, RUS_ISO2, RUS_ISO3, code, country_y, ISO3]
Index: []

In [42]:
table.loc[table.country_y.isnull()]

,country_x,full_name,RUS_ISO2,RUS_ISO3,code,country_y,ISO3
0,АБХАЗИЯ[2],Республика Абхазия,AB,ABH,895,NaN,NaN
10,АНТАРКТИДА,NaN,AQ,ATA,10,NaN,NaN
27,"БОНЭЙР, СИНТ-ЭСТАТИУС И САБА",NaN,BQ,BES,535,NaN,NaN
52,ГЕРНСИ,NaN,GG,GGY,831,NaN,NaN
62,ДЖЕРСИ,NaN,JE,JEY,832,NaN,NaN
64,ДНР[2],Донецкая Народная Республика,DN,DNR,897,NaN,NaN
104,КЮРАСАО,NaN,CW,CUW,531,NaN,NaN
118,МАЙОТТА,NaN,YT,MYT,175,NaN,NaN
123,МАЛЫЕ ТИХООКЕАНСКИЕ ОТДАЛЕННЫЕ ОСТРОВА СОЕДИНЕ...,NaN,UM,UMI,581,NaN,NaN
153,ОСТРОВ БУВЕ,NaN,BV,BVT,74,NaN,NaN
154,ОСТРОВ МЭН,NaN,IM,IMN,833,NaN,NaN
157,ОСТРОВ ХЕРД И ОСТРОВА МАКДОНАЛЬД,NaN,HM,HMD,334,NaN,NaN
160,"ПАЛЕСТИНА, ГОСУДАРСТВО",Государство Палестина,PS,PSE,275,NaN,NaN
182,СЕН-БАРТЕЛЕМИ,NaN,BL,BLM,652,NaN,NaN
183,СЕН-МАРТЕН (французская часть),NaN,MF,MAF,663,NaN,NaN
184,СЕН-МАРТЕН (нидерландская часть),NaN,SX,SXM,534,NaN,NaN
190,СЕРБИЯ,Республика Сербия,RS,SRB,688,NaN,NaN
232,ЧЕРНОГОРИЯ,NaN,ME,MNE,499,NaN,NaN
241,ЭЛАНДСКИЕ ОСТРОВА,NaN,AX,ALA,248,NaN,NaN
248,ЮЖНАЯ ДЖОРДЖИЯ И ЮЖНЫЕ САНДВИЧЕВЫ ОСТРОВА,NaN,GS,SGS,239,NaN,NaN
249,ЮЖНАЯ ОСЕТИЯ[2],Республика Южная Осетия,OS,OST,896,NaN,NaN
250,ЮЖНЫЙ СУДАН,Республика Южный Судан,SS,SSD,728,NaN,NaN

In [24]:
table.shape

(286, 7)

In [ ]:
Yugoslavia = [499, 688]